:root {
  --main-1: #FF00F5;
  --main-2: #B2FF00;
  --main-3: #0D0D0D;
  --main-4: #00FFFF;
}


.gradient-background {
  background: linear-gradient(300deg, var(--main-1), var(--main-3), var(--main-4));
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}



h1 {
  color: #DBEDF3;
  font-family: 'Rajdhani', sans-serif;
  letter-spacing: 2px;
  text-shadow: 3px 0 var(--main-1);
  font-size: 5rem;
}

p {
  color: var(--main-2);
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5rem;
}

.w {
  background-image: url("images/tom1.png");
}

.a {
  background-image: url("images/tom2.png");
}

.s {
  background-image: url("images/tom3.png");
}

.d {
  background-image: url("images/tom4.png");
}

.j {
  background-image: url("images/snare.png");
}

.k {
  background-image: url("images/crash.png");
}

.l {
  background-image: url("images/kick.png");
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.drum {
  outline: none;
  border: 10px solid var(--main-2);
  font-size: 4rem;
  font-family: 'Rajdhani', sans-serif;
  line-height: 2;
  font-weight: 900;
  color: var(--main-3);
  text-shadow: 3px 0 var(--main-1);
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
}

@media (max-width: 991.98px) {

  /* tablets and smaller */
  .drum {
    width: 9rem;
    height: 9rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 576px) {
  .drum {
    width: 6rem;
    height: 6rem;
    font-size: 1.25rem;
  }
}

.footer {
  border-top: 2px solid var(--main-2);
  color: var(--main-3);
  background-color: var(--main-4);
  font-family: 'Rajdhani', sans-serif;
}
